<h3>Rate your video</h3>
<br />
<div class="alert alert-danger" *ngIf="showError">
    <strong>Warning!</strong> You have already rated this video.
</div>
<div class="rating-container" *ngIf="detail">
    <h3>{{detail.Title}}</h3>
    <img class="poster-image" [src]="detail.Poster" style="height: 250px; width: 250px;" />

    <br />
    <div class="">Select your rating</div>
    <input type="range" class="form-control-range" id="formControlRange" min="0" max="10"
        (input)="testRating($event.target.value)">

    <button class="btn btn-success" (click)="saveRating()"> Rate Video </button>
    <button class="btn" (click)="goBackToDetails()"> Cancel </button>
</div>